*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* shared code */

.primary-btn{
border-radius: 5px;
background: #FD6E0A;
border:0;
color: var(--white-color, #FFF);
font-size: 20px;
font-weight: 700;
padding: 15px 30px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
color: #181818;
font-size: 45px;
font-style: normal;
font-weight: 800;

}

nav>.header-manu{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}

.header-manu li a{
    text-decoration: none;
color: var(--dark-02, #474747);
font-size: 20px;
font-style: normal;
font-weight: 400;

}

.nav-span{
    color: #FD6E0A;
}